.btn-blue{
	border-right: 10px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	margin: 10px, auto;
	background-color: #62B6CB;
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
	color: white;

}

	